:root {
    --text: #f2edf1;
    --background: #060405;
    --primary: #131313;
    --accent: #323232;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message-box {
    padding: 20px;
    border: 0px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--accent);
    color: var(--text);
    min-width: 1000px;
    min-height: 500px;
}